<p id="notice"><%= notice %></p>

<h1>Establecimientos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numeracion</th>
      <th>Alias</th>
      <th>Informacion</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th>Imagen</th>
      <th>Idcategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @establecimientos.each do |establecimiento| %>
      <tr>
        <td><%= establecimiento.nombre %></td>
        <td><%= establecimiento.numeracion %></td>
        <td><%= establecimiento.alias %></td>
        <td><%= establecimiento.informacion %></td>
        <td><%= establecimiento.latitud %></td>
        <td><%= establecimiento.longitud %></td>
        <td><%= establecimiento.imagen %></td>
        <td><%= establecimiento.idcategoria %></td>
        <td><%= link_to 'Show', establecimiento %></td>
        <td><%= link_to 'Edit', edit_establecimiento_path(establecimiento) %></td>
        <td><%= link_to 'Destroy', establecimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Establecimiento', new_establecimiento_path %>
