<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @establecimiento.nombre %>
</p>

<p>
  <strong>Numeracion:</strong>
  <%= @establecimiento.numeracion %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @establecimiento.alias %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @establecimiento.informacion %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @establecimiento.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @establecimiento.longitud %>
</p>

<p>

  <img width="90%" src="<%= @establecimiento.avatar %>">

</p>

<p>
  <strong>Idcategoria:</strong>
  <%= @establecimiento.categorium.nombre %>
</p>

<%= link_to 'Edit', edit_establecimiento_path(@establecimiento) %> |
<%= link_to 'Back', establecimientos_path %>
