.col-lg-4.col-lg-offset-4
  .panel.panel-primary
    .panel-heading
      Primary Panel
    .panel-body
      = form_for(evento) do |f|
        .form-group
          %label Título
          = f.text_field :titulo, class: "form-control", placeholder: "Introduzca el Título"
        .form-group
          %label Contenido
          = f.text_field :contenido, class: "form-control", placeholder: "Introduzca el contenido"
        .form-group
          %label Fecha
          = f.text_field :fecha, class: "form-control", placeholder: "Introduzca la fecha"
        .form-group
          %label Hora
          = f.text_field :hora, class: "form-control", placeholder: "Introduzca la hora"
        %div
          = link_to eventos_path do
            %i.fa.fa-arrow-left.text-navy Volver
          = f.submit "Guardar", class: "btn btn-sm btn-primary pull-right m-t-n-xs"


