%nav.navbar-default.navbar-static-side.boxshadow-none{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %span
            %img.img-circle{:alt => "image", :src => "#{image_path('profile_small.jpg')}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold David Williams
              %span.text-muted.text-xs.block
                Art Director
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              %a{:href => "profile.html"} Perfil
            %li
              %a{:href => "contacts.html"} Contactos
            %li
              %a{:href => "mailbox.html"} Mailbox
            %li.divider
            %li
              %a{:href => "#{destroy_user_session_path}", "data-method" => :delete} Salir
        .logo-element
          IN+
      %li.active
        %a{:href => "#{root_path}"}
          %i.fa.fa-dashboard
          %span.nav-label Inicio
      %li
        %a{:href => "layouts.html"}
          %i.fa.fa-users
          %span.nav-label Usuarios
      %li
        %a{:href => "#{categoria_path}"}
          %i.fa.fa-th-large
          %span.nav-label Categoria
      %li
        %a{:href => "#{establecimientos_path}"}
          %i.fa.fa-bank
          %span.nav-label Establecimientos
      %li
        %a{:href => "#{eventos_path}"}
          %i.fa.fa-newspaper-o
          %span.nav-label Eventos
