!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title .:: UAGRM AR WEB ::.
    = csrf_meta_tags
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  -if !user_signed_in?
    %body.gray-bg
      = yield
  -else
    %body.md-skin
      #wrapper
        = render 'layouts/sidebar'
        #page-wrapper.gray-bg.dashoard-1
          = render 'layouts/menu_header'
          .wrapper.wrapper-content.animated.fadeInRight
            = yield
          = render "layouts/footer"
          = render "layouts/sidebar_right"

